/* Contains all of the CSS for the two HTML files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
h1,
h2,
h3, 
p,
ul,
li {
    margin: none; 
    padding: none;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #023535; 
}

h1 {
    color: #008F8C;
}

a {
    text-decoration: none;
    color: #015958;
}

a:hover {
    text-decoration: underline;
    color: orangered;
}

main {
    padding: 16px;
}

.-sticky {
    position: -webkit-sticky;
    position: sticky; 
    top: 12px;
}

nav {
    width: 316px; 
    height: 42px;
    background-color: #C7FFED;
    border-radius: 21px;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    padding: 0 32px;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between;
    .nav-item {
        color: #015958;
        text-transform: uppercase;
        font-size: 0.875em;
        line-height: 42px;
        font-weight: 700;
        transition: color 0.3s ease;
        cursor: pointer;
        &:hover {
            color: #44BF75;
        }
    }
}

img {
    height: 200px;
}

img:hover {
    filter: blur(2px);
    transition: 1s;
}

.recipe-list {
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%;
}

th {
    border-bottom: 1px solid black; 
}

table {
    table-layout: fixed;
    text-align: left; 
    width: 400px;
    border: 1px solid black; 
    padding: 20px 20px 20px 20px;
}

tr:nth-child(even) {
    background-color: rgb(113, 158, 143);
}

footer {
    padding: 24px 0px 24px 24px;
    background-color: #023535;
    color: white;
}